name = "crossfin-api"
main = "src/index.ts"
compatibility_date = "2025-02-13"

[[d1_databases]]
binding = "DB"
database_name = "crossfin-db"
database_id = "45a4ed54-bd2f-45dd-b1e4-d2be5f820f2c"
migrations_dir = "migrations"

[vars]
FACILITATOR_URL = "https://facilitator.x402endpoints.online"
X402_NETWORK = "eip155:8453"
PAYMENT_RECEIVER_ADDRESS = "0xe4E79Ce6a1377C58f0Bb99D023908858A4DB5779"
